a {
  text-decoration: none;
}

.header {
  height: 60px;
  background-color: #05445e;
}

.header a {
  display: block;
  margin: 0 auto;
  line-height: 60px;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
}

.cont-url {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header a,
.cont-url > *,
.footer-info {
  width: 70%;
  max-width: 850px;
}

.cont-url label {
  display: none;
}

input {
  width: calc(100% - 90px);
  height: 35px;
  border: none;
  padding-left: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 50px;
}

button {
  width: 90px;
  height: 35px;
  background: #a49393;
  border: none;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}

.arrow {
  display: block;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  color: #05445e;
  padding-bottom: 5px;
  margin: 10px 0;
}

.footer{
  background-color: black;
  color: white;
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.love{
  color: red;
}

ul {
  list-style-type: none;
}

#search{
  border-radius: 50px;
}

#search-button{
  border-radius:  50px;
}

.link{
  color: white;
}

#submit-button{
  border-radius: 50px;
}

#copy-button{
  border-radius: 50px;
}

#container{
  width: 45%;
  height: 60%;
}

#back-image{
  background-image: url(https://unsplash.com/photos/Xu4Pz7GI9JY/download?force=true&w=1920);
}


